.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
  border-bottom: 1px solid var(--off-gray);
}

.nav-brand {
  font-size: 1.7rem;
}

.nav-items {
  list-style-type: none;
}

.sidebar-toggle {
  display: none;
  font-size: 1.8rem;
  cursor: pointer;
  color: var(--mild-gray);
}

@media screen and (max-width: 600px) {
  .sidebar-toggle {
    display: block;
  }
}
