.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
  border-bottom: 1px solid var(--off-gray);
}

.nav-brand {
  font-size: 1.7rem;
}

.nav-items {
  list-style-type: none;
}
