.sidebar {
  display: none;
  border-right: 1px solid var(--off-gray);
  flex-direction: column;
  align-items: center;
  padding: 2rem 1rem;
  flex-shrink: 0;
  gap: 1.4rem;
  width: 6rem;
  height: 100%;
}

.sidebar-link {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  text-decoration: none;
  color: var(--off-gray);
  transition: color 0.2s;
  text-align: center;
}

.sidebar-link-active {
  color: var(--color-primary);
}

.sidebar-link:hover {
  color: var(--mild-gray);
}

.sidebar-link svg {
  font-size: 1.6rem;
}

.sidebar-open {
  display: flex;
}
